.list {
  display: flex;
  gap: 49px;
}
@media (max-width: (1650px)) {
  .list {
    gap: 10px;
  }
}

@media (max-width: (963px)) {
  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
