@import '../../../assets/styles/abstracts/mixins/_mixins';

.container {
    margin: 0 auto;
    max-width: 1460px;
    width: 100%;

    @include desktop {
        max-width: 932px;
    }

    @include tablet {
        max-width: 728px;
    }

    @include tablet-sm {
        max-width: calc(100% - 40px);
    }
}

.base {
    padding: 100px 0;
}

.header {
    padding: 30px 0;
}