//Fonts
$font-primary: 'SF UI Text Regular', sans-serif;
$font-secondary: 'SF UI Text Italic', sans-serif;
$font-tertiary: 'SF UI Text Light', sans-serif;
$font-quaternary: 'SF UI Text Light Italic', sans-serif;
$font-quinary: 'SF UI Text Medium', sans-serif;
$font-senary: 'SF UI Text Medium Italic', sans-serif;
$font-septenary: 'SF UI Text Semibold', sans-serif;
$font-octonary: 'SF UI Text Semibold Italic', sans-serif;
$font-nonary: 'SF UI Text Bold', sans-serif;
$font-denary: 'SF UI Text Bold Italic', sans-serif;
$font-elevenary: 'SF UI Text Heavy', sans-serif;
$font-twelveary: 'SF UI Text Heavy Italic', sans-serif;

//Font sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 48px;

//Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

//Line heights
$line-height-base: 1.5;
$line-height-heading: 1.2;