//Fonts
$font-primary: 'Barlow', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

//Font sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 48px;

//Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

//Line heights
$line-height-base: 1.5;
$line-height-heading: 1.2;